body {

    padding: 1%;

}



h2 {

    padding: 2%;

    text-align: center;

}



.flex-container {

    display: flex;

    justify-content: space-around;

}



.search-form input {

    width: 70%;

}



.search-form button {

    width: 20%;

}