body {
    padding: 1%;
    font-family: "Poppins", sans-serif;
}

h1 {
    padding: 2%;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

#tagline {
    font-size: 150%;
    text-align: center;
}
