<nav class="sticky-top bg-white">
    <div class="container-sm">
        <div class="row">
            <div class="col flex-container">
                <a href="./index.php">Home</a>
                <a href="./about_us.php">About Us</a>
                <a href="./support.php">Support</a>
            </div>
            <form class="col flex-container">
                <input style="width: 70%;" type="text" placeholder="Search...">
                <button style="width: 20%;" type="submit">Search</button>
            </form>
            <div class="col-sm-2 flex-container">
                <a href="">Sign up</a>
                <a href="./login.php">Log in</a>
            </div>
        </div>
    </div>
</nav>